@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Contacts</h3>
    <h3 class="display-8">Projeto ASP NET CORE API WEB usando o conceito MSC – Model Service Controller.</h3>
    <h3 class="display-8">Cadastro básico de Contatos com Autenticação usando Jwt e Bearer.</h3>
    <img src="/images/Gav_Resorts_Logo.png" class="img-fluid" asp-append-version="true" />
</div>
